html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Add CSS styling here */

* {
    max-width: 100%;
    box-sizing: border-box;    /* add padding to div but div wont get bigger*/
    margin: 0;
    padding: 0;
}

body {
margin: 0px;
padding: 0px;
font-family: 'Work Sans', sans-serif;
letter-spacing: 1.5px;
scroll-behavior: smooth;
}

h1 {
    font-family: 'Crimson Text', serif;
    letter-spacing: 3px;
    font-size: 45px;
}
h2 {
    font-family: 'Crimson Text', serif;
    font-size: 36px;
}
p{
    line-height: 3em;
    
}

/* ---------------------------Header-------------------------------*/

header {
    padding: 4%;
    text-align: center;
    background-color: #2b54fc;
    color: white;
}

header p {
    margin-left: 2%;
    margin-right: 2%;
}

nav {
    padding: 5%;
    display: flex;
    justify-content: center;
}

.nav-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    border: 1px solid white;
    cursor: pointer;
    color: white;
}
.nav-container:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
    background-color:rgb(255, 255, 255);
    color: black;
    text-transform: uppercase;
}


/* ---------------------------section 1-------------------------------*/


.section-1 {
    margin-top: 6%;
}





.img-1-container {
    width: 100%;
    height: 45vh;
    background-image: url('section1 image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}










/* ---------------------------Section 2-------------------------------*/



.section-2 {
    display: flex;
    margin-top: 4%;
    padding-bottom: 2%;
    justify-content: space-between;
    background: #2b55fc;
    padding-top: 2%;
}

.project {
    padding-right: 2%;
}


.section-2 img {
    height: min-content;
    display: flex;
}

#section-2-text-container{
    display: flex;
}

.txt-container {
    text-align: center;
    background-color: #2b54fc;
    color: white;
}


/* ---------------------------footer-------------------------------*/

footer {
    text-align: center;
    background-color: #e2e1e6;
}

 
.fa, .fab{
    font-size: 2em;
    padding: 1em 1.4em;
    color: #8a8a8a;
    font-weight: 400;    
}

.icons {
    display: flex;
    justify-content: center;
}

i:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 103, 68, 0.91);
    color: white;
    text-transform: uppercase;
}

.contact {
    display: flex;
    justify-content: center;
}

#contact-me-button {
    padding: 1em;
    border: 2px solid rgba(255, 103, 68, 0.91);
    border-radius: 50px;
    background: white;
    color: rgba(255, 103, 68, 0.91);;
    
}

#contact-me-button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 103, 68, 0.91);
    color: white;
    text-transform: uppercase;
}

.button-container {
    margin-top: 8%;
    margin-bottom: 5%;
}

/* ---------------------------Media-------------------------------*/

@media(max-width: 800px) {

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .txt-container p {
        font-size: .7rem;
    }
    nav {
        padding: 5%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
    }

    .nav-container {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
        padding-top: 4%;
        border: 1px solid white;
        cursor: pointer;
        color: white;
    }

    .section-1 {
        margin: 4%;
    }

    .project-images-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .section-2{
        display: flex;
        margin-top: 4%;
        padding-bottom: 2%;
        justify-content: center;
        flex-wrap: wrap;

    }
    .project {
        padding: 4%;
        display: flex;
        flex-wrap: wrsp;
        display: flex;
        justify-content: center;
    }

    .section-2 img {
        height: min-content;
        display: flex;
    }

}

@media(max-width: 500px){

    .section-2 img {
        width: 150px;
    }

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.7rem;
    }

    .nav-container a {
        font-size: smaller;
    }

}